In [1]:
import pandas as pd

In [2]:
pd.options.mode.chained_assignment= None

In [3]:
# pd.options.display.max_rows = 18400

In [4]:
sales= pd.read_csv('Sales_April_2019.csv')

In [5]:
sales.head(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
sales.shape

(18383, 6)

In [7]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

In [8]:
sales.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,18324,18324,18324,18324,18324,18324
unique,17538,20,8,18,13584,17120
top,Order ID,Lightning Charging Cable,1,14.95,Order Date,Purchase Address
freq,35,2201,16558,2201,35,35

In [9]:
sales.count()

Order ID            18324
Product             18324
Quantity Ordered    18324
Price Each          18324
Order Date          18324
Purchase Address    18324
dtype: int64

In [10]:
sales.isnull().sum()

Order ID            59
Product             59
Quantity Ordered    59
Price Each          59
Order Date          59
Purchase Address    59
dtype: int64

In [11]:
sales.dropna(inplace=True)

In [12]:
sales.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [13]:
sales.shape

(18324, 6)

In [14]:
sales.head(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"

### Order ID

In [15]:
# sales.Order ID.value_counts()

In [16]:
sales.rename(columns={'Order ID' : 'Order_ID'},inplace=True)

In [17]:
sales.Order_ID.value_counts(dropna=False)

Order ID    35
193511       4
178158       4
185452       3
176797       3
            ..
193779       1
191490       1
180799       1
177926       1
177834       1
Name: Order_ID, Length: 17538, dtype: int64

In [18]:
import numpy as np

In [19]:
sales.Order_ID.replace(to_replace='Order ID',value=np.nan,inplace=True)

In [20]:
sales.Order_ID.value_counts(dropna=False)

NaN       35
178158     4
193511     4
191433     3
187636     3
          ..
184845     1
182016     1
193779     1
191490     1
177834     1
Name: Order_ID, Length: 17538, dtype: int64

In [21]:
sales.dropna(inplace=True)

In [22]:
sales.Order_ID.value_counts(dropna=False)

178158    4
193511    4
193961    3
191963    3
191193    3
         ..
182016    1
193779    1
191490    1
180799    1
177834    1
Name: Order_ID, Length: 17537, dtype: int64

In [23]:
print(sales['Order_ID'].dtype)

object

In [24]:
sales.Order_ID=pd.to_numeric(sales.Order_ID)

In [25]:
print(sales['Order_ID'].dtype)

int64

In [26]:
sales.head(2)

,Order_ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"

### Product

In [27]:
sales.Product.value_counts(dropna=False)

Lightning Charging Cable      2201
USB-C Charging Cable          2079
AA Batteries (4-pack)         2063
AAA Batteries (4-pack)        1989
Wired Headphones              1890
Apple Airpods Headphones      1515
Bose SoundSport Headphones    1280
27in FHD Monitor               734
iPhone                         693
34in Ultrawide Monitor         650
Google Phone                   581
27in 4K Gaming Monitor         563
Flatscreen TV                  458
Macbook Pro Laptop             453
ThinkPad Laptop                392
20in Monitor                   390
Vareebadd Phone                220
LG Dryer                        77
LG Washing Machine              61
Name: Product, dtype: int64

In [28]:
print(sales['Product'].dtype)

object

In [29]:
sales.iloc[:,1].isnull().sum()

0

In [30]:
sales.head(2)

,Order_ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"

### Quantity Ordered

In [31]:
sales.rename(columns={'Quantity Ordered' : 'Quantity_Ordered'},inplace=True)

In [32]:
sales.Quantity_Ordered.value_counts()

1    16558
2     1328
3      299
4       72
5       24
6        7
7        1
Name: Quantity_Ordered, dtype: int64

In [33]:
sales.iloc[:,2].isnull().sum()

0

In [34]:
print(sales['Quantity_Ordered'].dtype)

object

In [35]:
sales.Quantity_Ordered=sales.Quantity_Ordered.astype('int')

In [36]:
print(sales.iloc[:,2].dtype)

int32

In [37]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"

### Price Each

In [38]:
sales.rename(columns={'Price Each':'Price_Each'},inplace=True)

In [39]:
sales.Price_Each.value_counts()

14.95     2201
11.95     2079
3.84      2063
2.99      1989
11.99     1890
150       1515
99.99     1280
149.99     734
600        719
700        693
379.99     650
389.99     563
300        458
1700       453
999.99     392
109.99     390
400        220
Name: Price_Each, dtype: int64

In [40]:
sales.iloc[:,3].isnull().sum()

0

In [41]:
print(sales.iloc[:,3].dtype)

object

In [42]:
sales['Price_Each']=sales.Price_Each.astype('float')

In [43]:
print(sales.iloc[:,3].dtype)

float64

In [44]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"

### Order Date

In [45]:
sales.rename(columns={'Order Date':'Order_Date'},inplace=True)

In [46]:
sales.Order_Date.value_counts()

4/2/2019 13:24     7
4/25/2019 15:27    6
4/25/2019 19:01    6
4/17/2019 10:07    6
4/4/2019 11:09     6
                  ..
4/10/2019 3:43     1
4/17/2019 20:59    1
4/20/2019 6:54     1
4/20/2019 1:00     1
4/12/2019 12:52    1
Name: Order_Date, Length: 13583, dtype: int64

In [47]:
sales.iloc[:,4].isnull().sum()

0

In [48]:
print(sales.iloc[:,4].dtype)

object

In [49]:
sales['Order_Date'] = pd.to_datetime(sales['Order_Date'])

In [50]:
sales.head(1)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"

In [51]:
print(sales.iloc[:,4].dtype)

datetime64[ns]

In [52]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"

### Purchase Address

In [53]:
sales.rename(columns={'Purchase Address':'Purchase_Address'},inplace=True)

In [54]:
sales.Purchase_Address.value_counts()

197 Center St, San Francisco, CA 94016     4
821 Elm St, Austin, TX 73301               4
122 West St, San Francisco, CA 94016       3
127 Main St, Los Angeles, CA 90001         3
1 Hickory St, Atlanta, GA 30301            3
                                          ..
74 Chestnut St, Seattle, WA 98101          1
962 7th St, Los Angeles, CA 90001          1
369 Madison St, San Francisco, CA 94016    1
138 Lake St, Dallas, TX 75001              1
563 Meadow St, Boston, MA 02215            1
Name: Purchase_Address, Length: 17119, dtype: int64

In [55]:
sales.iloc[:,5].isnull().sum()

0

In [56]:
print(sales.iloc[:,5].dtype)

object

In [57]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215"

### Iterate Day from Order_Date

In [58]:
sales['Day'] = sales['Order_Date'].dt.day

In [59]:
sales.head()

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",19
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",7
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",12
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",12
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",30

### Iterate City from Purchase_Address

In [60]:
def get_city(address):
    return address.split(',')[1]

sales['City']=sales['Purchase_Address'].apply(lambda x:get_city(x))

In [61]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",19,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",7,Boston

In [62]:
sales.iloc[:,6].value_counts(dropna=False)

21    672
18    660
17    655
13    635
27    631
10    631
24    630
30    628
4     627
11    627
12    623
9     618
1     615
6     613
16    612
5     611
8     610
14    608
3     599
28    592
25    591
29    590
23    589
2     588
20    587
15    585
26    578
7     572
19    562
22    550
Name: Day, dtype: int64

In [63]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",19,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",7,Boston

In [64]:
sales.iloc[:,7].unique()

array([' Dallas', ' Boston', ' Los Angeles', ' San Francisco', ' Seattle',
       ' Atlanta', ' New York City', ' Portland', ' Austin'], dtype=object)

In [65]:
sales.City=sales.City.str.strip()

In [66]:
sales[sales.iloc[:,7]=='Dallas'].head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",19,Dallas
13,176569,27in 4K Gaming Monitor,1,389.99,2019-04-16 19:23:00,"657 Hill St, Dallas, TX 75001",16,Dallas

In [67]:
sales[sales.duplicated(keep='first')]

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City
31,176585,Bose SoundSport Headphones,1,99.99,2019-04-07 11:31:00,"823 Highland St, Boston, MA 02215",7,Boston
1302,177795,Apple Airpods Headphones,1,150.00,2019-04-27 19:45:00,"740 14th St, Seattle, WA 98101",27,Seattle
1684,178158,USB-C Charging Cable,1,11.95,2019-04-28 21:13:00,"197 Center St, San Francisco, CA 94016",28,San Francisco
3805,180207,Apple Airpods Headphones,1,150.00,2019-04-13 01:46:00,"196 7th St, Los Angeles, CA 90001",13,Los Angeles
4196,180576,Lightning Charging Cable,1,14.95,2019-04-18 17:23:00,"431 Park St, Dallas, TX 75001",18,Dallas
4376,180746,AAA Batteries (4-pack),1,2.99,2019-04-30 12:05:00,"398 West St, New York City, NY 10001",30,New York City
4450,180817,Lightning Charging Cable,1,14.95,2019-04-13 18:33:00,"563 13th St, Los Angeles, CA 90001",13,Los Angeles
4734,181084,Flatscreen TV,1,300.00,2019-04-07 21:36:00,"1 Walnut St, Boston, MA 02215",7,Boston
4906,181246,Wired Headphones,1,11.99,2019-04-09 13:58:00,"342 Hickory St, San Francisco, CA 94016",9,San Francisco
5773,182077,AAA Batteries (4-pack),1,2.99,2019-04-13 22:08:00,"730 4th St, New York City, NY 10001",13,New York City
6242,182523,Lightning Charging Cable,1,14.95,2019-04-24 21:16:00,"990 River St, Boston, MA 02215",24,Boston
6646,182904,Lightning Charging Cable,1,14.95,2019-04-09 22:15:00,"410 Wilson St, Atlanta, GA 30301",9,Atlanta
7372,183587,AAA Batteries (4-pack),1,2.99,2019-04-15 00:21:00,"384 Sunset St, Los Angeles, CA 90001",15,Los Angeles
8540,184717,USB-C Charging Cable,1,11.95,2019-04-04 10:17:00,"439 Forest St, Atlanta, GA 30301",4,Atlanta
9044,185193,Lightning Charging Cable,1,14.95,2019-04-16 21:38:00,"714 13th St, San Francisco, CA 94016",16,San Francisco
9899,186008,Bose SoundSport Headphones,1,99.99,2019-04-17 19:36:00,"432 Park St, New York City, NY 10001",17,New York City
11334,187379,USB-C Charging Cable,1,11.95,2019-04-10 19:06:00,"504 10th St, Los Angeles, CA 90001",10,Los Angeles
12871,188827,USB-C Charging Cable,1,11.95,2019-04-17 18:17:00,"900 Spruce St, New York City, NY 10001",17,New York City
14202,190099,AA Batteries (4-pack),1,3.84,2019-04-18 08:07:00,"845 Sunset St, Los Angeles, CA 90001",18,Los Angeles
14677,190553,Lightning Charging Cable,1,14.95,2019-04-10 17:38:00,"548 Madison St, New York City, NY 10001",10,New York City
17164,192939,34in Ultrawide Monitor,1,379.99,2019-04-29 21:07:00,"519 Adams St, Seattle, WA 98101",29,Seattle
18194,193916,20in Monitor,1,109.99,2019-04-18 12:59:00,"653 Cherry St, Dallas, TX 75001",18,Dallas

In [68]:
sales.drop_duplicates(keep='first',inplace=True)

In [69]:
sales[sales.duplicated(keep='first')]

Empty DataFrame
Columns: [Order_ID, Product, Quantity_Ordered, Price_Each, Order_Date, Purchase_Address, Day, City]
Index: []

### Data Analysis

In [70]:
sales[(sales.iloc[:,7] == 'Dallas') & (sales.iloc[:,6] == 21) & (sales.iloc[:,1] =='Flatscreen TV')]

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City
2908,179343,Flatscreen TV,1,300.0,2019-04-21 19:33:00,"683 5th St, Dallas, TX 75001",21,Dallas
7382,183597,Flatscreen TV,1,300.0,2019-04-21 13:31:00,"335 Washington St, Dallas, TX 75001",21,Dallas
13108,189053,Flatscreen TV,1,300.0,2019-04-21 17:09:00,"410 6th St, Dallas, TX 75001",21,Dallas

### Calculate the Sales

In [71]:
sales['Sales'] = sales['Quantity_Ordered'] * sales['Price_Each']

In [72]:
sales.head(2)

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address,Day,City,Sales
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",19,Dallas,23.90
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",7,Boston,99.99

In [73]:
sales.shape

(18267, 9)

In [74]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18267 entries, 0 to 18382
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          18267 non-null  int64
 1   Product           18267 non-null  object
 2   Quantity_Ordered  18267 non-null  int32
 3   Price_Each        18267 non-null  float64
 4   Order_Date        18267 non-null  datetime64[ns]
 5   Purchase_Address  18267 non-null  object
 6   Day               18267 non-null  int64
 7   City              18267 non-null  object
 8   Sales             18267 non-null  float64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(2), object(3)
memory usage: 1.3+ MB

In [75]:
sales.describe()

,Order_ID,Quantity_Ordered,Price_Each,Day,Sales
count,18267.000000,18267.000000,18267.000000,18267.000000,18267.000000
mean,185330.420595,1.124760,184.573645,15.471506,185.832750
std,5061.670698,0.436651,331.069060,8.630009,332.381465
min,176558.000000,1.000000,2.990000,1.000000,2.990000
25%,180953.500000,1.000000,11.950000,8.000000,11.950000
50%,185332.000000,1.000000,14.950000,15.000000,14.950000
75%,189707.500000,1.000000,150.000000,23.000000,150.000000
max,194094.000000,7.000000,1700.000000,30.000000,3400.000000

In [76]:
sales.isnull().sum()

Order_ID            0
Product             0
Quantity_Ordered    0
Price_Each          0
Order_Date          0
Purchase_Address    0
Day                 0
City                0
Sales               0
dtype: int64

In [77]:
sales.count()

Order_ID            18267
Product             18267
Quantity_Ordered    18267
Price_Each          18267
Order_Date          18267
Purchase_Address    18267
Day                 18267
City                18267
Sales               18267
dtype: int64